extends layout

block content
  h1= title

  form(name="yearMonth" action="/" method="post")
    select(name="year")
      include input-select
      +input-select([...Array.from(Array(10), (v, k) => new Date().getFullYear() - k)], year)
    |年
    select(name="month")
      include input-select
      +input-select([...Array.from(Array(12), (v, k) => 12 - k)], month)
    |月
    button(type="button" onclick="submit()")
      |表示

  br

  include input-table

  br

  form(name="workAdd" action="/work" method="post")
    input(name="work" type="text" value="")
    input(type="button" value="追加" onclick="submit();")

  form(name="workDelete" action="/work" method="post")
    input(name="_method" type="hidden" value="delete")
    select(name="work_id")
      include input-select-work_list
      +input-select-work_list([{work: "", work_id: 0}, ...work_list])
    button(type="button" onclick="submit()")
      |削除

  br
